.Indian-Scarves-1-hex { color: #FEEB2D; }
.Indian-Scarves-2-hex { color: #F2BE22; }
.Indian-Scarves-3-hex { color: #F28705;}
.Indian-Scarves-4-hex { color: #BF1304; }
.Indian-Scarves-5-hex { color: #5C0201; }
